<div class="container-fluid mt-2">
  <!-- Start main row -->
  <tabset>
    <tab heading="العملاء">
      <h4>العملاء</h4>
      <!-- <button (click)="exportexcel()" class="btn btn-primary mb-2"><i class="fa fa-download"></i></button> -->
      <!-- <div class="scroll-view-table">
        <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm">
          <tr>
            <td class="col">الكود</td>
            <td class="col">الاسم</td>
            <td class="col">الحالة</td>
            <td class="col">المديونية</td>
            <td class="col">الباتش</td>
            <td class="col">العقد</td>
            <td class="col">الجنسية</td>
            <td class="col">المدنى</td>
            <td class="col">المطالبة</td>
            <td class="col">المدفوع</td>
            <td class="col">المتبقى</td>
            <td class="col">الموكل</td>
            <td class="col">المتابعة</td>
            <td class="col">حالة العميل</td>
            <td class="col">التواصل</td>
            <td class="col">المدنية</td>
            <td class="col">الداخلية</td>
            <td class="col">اخر سداد</td>
            <td class="col">تاريخ السداد</td>
            <td class="col">اخر افادة</td>
            <td class="col">الافادة</td>
            <td class="col">المراجعة</td>
          </tr>
          <tbody>
            <tr *ngFor="let item of customers">
              <td>{{ item.code }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.caseCust }}</td>
              <td>{{ item.reasonDue }}</td>
              <td>{{ item.batchNo }}</td>
              <td>{{ item.contractNum }}</td>
              <td>{{ item.national }}</td>
              <td>{{ item.civilId }}</td>
              <td>{{ item.totalDue }}</td>
              <td>{{ item.totalPay + item.waiver}}</td>
              <td>{{ item.remain }}</td>
              <td>{{ item.clint }}</td>
              <td>{{ item.motabaa }}</td>
              <td>{{ item.khesmCase }}</td>
              <td>{{ item.twasol }}</td>
              <td>{{ item.caseCivilID }}</td>
              <td>{{ item.dkhlia }}</td>
              <td>{{ item.lastPay }}</td>
              <td>{{ item.lastPayDate }}</td>
              <td>{{ item.lastStatmentDate }}</td>
              <td>{{ item.lastStatmentEvent }}</td>
              <td>{{ item.lastReviewDate }}</td>
            </tr>
          </tbody>
        </table>
        <pagination class="pagination-statment" [boundaryLinks]="true" [totalItems]="paginationCustomer.totalItems"
          [itemsPerPage]="paginationCustomer.itemsPerPage" (pageChanged)="pageChangedCustomer($event)"
          [(ngModel)]="paginationCustomer.currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
          lastText="&raquo;" [maxSize]="maxSize2">
        </pagination>
      </div> -->
      <div class="outof-rtl">
        <dx-data-grid [dataSource]="customers" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
          [columnAutoWidth]="true" [showBorders]="true" (onRowDblClick)="searchBycode($event.data.code)">
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10,20,30,50,80,100]" [showInfo]="true">
          </dxo-pager>
          <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-export [enabled]="true"></dxo-export>
          <dxo-search-panel [visible]="true" [width]="300" placeholder="Search..."></dxo-search-panel>
          <dxi-column dataField="code" caption="الكود"></dxi-column>
          <dxi-column dataField="name" caption="الاسم"></dxi-column>
          <dxi-column dataField="reasonDue" caption="المديونية"></dxi-column>
          <dxi-column dataField="batchNo" caption="رقم الباتش"></dxi-column>
          <dxi-column dataField="civilId" caption="المدنى"></dxi-column>
          <dxi-column dataField="codeClint" caption="كود الموكل"></dxi-column>
          <dxi-column dataField="clint" caption="الموكل"></dxi-column>
          <dxi-column dataField="caseCust" caption="الحالة"></dxi-column>
          <dxi-column dataField="national" caption="الجنسية"></dxi-column>
          <dxi-column dataField="autoNum" caption="الالى"></dxi-column>
          <dxi-column dataField="contractNum" caption="رقم العقد"></dxi-column>
          <dxi-column dataField="totalDue" caption="المطالبة"></dxi-column>
          <dxi-column dataField="totalPay" caption="المدفوع"></dxi-column>
          <dxi-column dataField="waiver" caption="التخفيض"></dxi-column>
          <dxi-column dataField="remain" caption="المتبقى"></dxi-column>
          <dxi-column dataField="note" caption="الملاحظات"></dxi-column>
          <dxi-column dataField="dateLogin" caption="تاريخ الورود"></dxi-column>
          <dxi-column dataField="lastPayDate" caption="تاريخ اخر سداد"></dxi-column>
          <dxi-column dataField="lastPay" caption="اخر سداد"></dxi-column>
          <dxi-column dataField="lastStatmentDate" caption="تاريخ الاجراء"></dxi-column>
          <dxi-column dataField="lastStatmentEvent" caption="الافادة"></dxi-column>
          <dxi-column dataField="lastReviewDate" caption="تاريخ المراجعة"></dxi-column>
          <dxi-column dataField="caseCivilID" caption="المدنية"></dxi-column>
          <dxi-column dataField="motabaa" caption="المتابعة"></dxi-column>
          <dxi-column dataField="dkhlia" caption="الداخلية"></dxi-column>
          <dxi-column dataField="khesmCase" caption="حالة العميل"></dxi-column>
          <dxi-column dataField="twasol" caption="التواصل"></dxi-column>
        </dx-data-grid>
      </div>
    </tab>
    <tab heading="الرئيسية">
      <div class="row">
        <!-- Start first column -->
        <div class="col-xl-4">
          <div class="row">
            <div class="col-xl-1">
              <div class="mt-2 label-write">الكود</div>
            </div>
            <div class="col-xl-6">
              <input type="number" name="code" class="form-control" [(ngModel)]="Code" placeholder="Code"
                (keyup.enter)="getMain()">
            </div>
            <div class="col-xl-5">
              <input type="submit" (click)='getMain()' value="Search" class="btn btn-primary btn-block">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1">
              <div class="mt-2 label-write">الموكل</div>
            </div>
            <div class="col-xl-11">
              <input type="text" name="djdjd" class="form-control" placeholder="Client" [(ngModel)]="main.clint"
                placeholder="الموكل">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1">
              <div class="mt-2 label-write">الخصم</div>
            </div>
            <div class="col-xl-11">
              <input type="text" name="djdjd" #name class="form-control" [(ngModel)]="main.name" placeholder="الخصم"
                #name (keyup.enter)="searchByCivilId(name.value,'name')">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1">
              <div class="mt-2 label-write">المدني</div>
            </div>
            <div class="col-xl-5">
              <input type="text" #civilID name="djdjd" class="form-control" [(ngModel)]="main.civiL_ID"
                placeholder="المدني" (keyup.enter)="searchByCivilId(civilID.value,'civilID')">
            </div>
            <div class="col-xl-1">
              <div class="mt-2 label-write">الحاله</div>
            </div>
            <div class="col-xl-5">
              <input type="text" name="djdjd" class="form-control" [(ngModel)]="main.caseCust" placeholder="الحالة">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1">
              <div class="mt-2 label-write">الجنسيه</div>
            </div>
            <div class="col-xl-5">
              <input type="text" name="djdjd" class="form-control" [(ngModel)]="main.nationaL_" placeholder="الجنسيه">
            </div>
            <div class="col-xl-1">
              <div class="mt-2 label-write">الالي</div>
            </div>
            <div class="col-xl-5">
              <input type="number" name="djdjd" class="form-control" [(ngModel)]="main.autO_NUM"
                placeholder="الرقم الالي">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1">
              <div class="mt-2 label-write">العقد</div>
            </div>
            <div class="col-xl-5">
              <input type="text" name="djdjd" #contract class="form-control" [(ngModel)]="main.contracT_NUM"
                placeholder="رقم العقد" (keyup.enter)="searchByCivilId(contract.value,'contract')">
            </div>
            <div class="col-xl-1">
              <div class="mt-2 label-write">المديونيه</div>
            </div>
            <div class="col-xl-5">
              <input type="text" name="djdjd" #reasonDue class="form-control" [(ngModel)]="main.reson_due"
                placeholder="سبب المدبونية" (keyup.enter)="searchByCivilId(reasonDue.value,'reasonDue')">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1">
              <div class="mt-2 label-write">الموحد</div>
            </div>
            <div class="col-xl-5">
              <input type="number" name="djdjd" class="form-control" placeholder="الرقم الموحد"
                [(ngModel)]="main.mohad">
            </div>
            <div class="col-xl-1">
              <div class="mt-2 label-write">الباتش</div>
            </div>
            <div class="col-xl-5">
              <input type="text" name="djdjd" class="form-control" [(ngModel)]="main.batcH_NO" placeholder="رقم الباتش">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-1">
              <div class="mt-2 label-write">العنوان</div>
            </div>
            <div class="col-xl-11">
              <textarea type="text" name="djdjd" class="form-control" [(ngModel)]="main.address"
                placeholder="العنوان"></textarea>
            </div>
          </div>
        </div>
        <!-- End first column -->
        <!-- Start second column -->
        <div class="col-xl-5">
          <div class="row">
            <div class="col-xl-12">
              <tabset>
                <tab heading="الرئيسية">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="row">
                        <div class="col-xl-2">
                          <div class="mt-2 label-write">القطاع</div>
                        </div>
                        <div class="col-xl-10">
                          <input type="text" class="form-control" [(ngModel)]="main.sector">
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="col-xl-2">
                          <div class="label-write">المدعى</div>
                        </div>
                        <div class="col-xl-10">
                          <input type="text" class="form-control" [(ngModel)]="main.draft">
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="row">
                        <div class="input-group">
                          <input type="text" class="form-control" [(ngModel)]="main.court">
                          <div class="input-group-append">
                            <label class="input-group-text" placeholder="المحكمة"
                              for="inputGroupSelect01">المحكمة</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-group">
                          <input type="text" class="form-control" [(ngModel)]="main.caseDkhliaSec">
                          <div class="input-group-append">
                            <label class="input-group-text" placeholder="حالة الداخلية" for="inputGroupSelect01">حالة
                              الداخلية</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-group">
                          <input type="text" class="form-control" [(ngModel)]="main.caseCivilIdSec">
                          <div class="input-group-append">
                            <label class="input-group-text" placeholder="حالة المدنية" for="inputGroupSelect01">حالة
                              المدنية</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12">
                      <tabset>
                        <tab heading='ملاحظات'>
                          <textarea class="form-control" [(ngModel)]="main.note" placeholder="ملاحظات"></textarea>
                        </tab>
                        <tab heading='ملاحظات 2'>
                          <textarea class="form-control" [(ngModel)]="main.notE_2"></textarea>
                        </tab>
                        <tab heading='ملاحظات 3'>
                          <textarea class="form-control" [(ngModel)]="main.notE_3"></textarea>
                        </tab>
                        <tab heading='ملاحظات 4'>
                          <textarea class="form-control" [(ngModel)]="main.notE_4"></textarea>
                        </tab>
                        <tab heading='ملاحظات 5'>
                          <textarea class="form-control" [(ngModel)]="main.notE_5"></textarea>
                        </tab>
                        <tab heading='ملاحظات 6'>
                          <textarea class="form-control" [(ngModel)]="main.notE_6"></textarea>
                        </tab>
                      </tabset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="input-group">
                        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                          value="{{ main.datE_LOGIN | date:'dd-MM-yyyy'  }}" disabled>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">تاريخ الورود</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="input-group">
                        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                          value="{{ main.datE_Receive | date:'dd-MM-yyyy' }}" disabled>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">تاريخ الاستلام</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="input-group">
                        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                          value="{{ main.datE_Withdrawal | date:'dd-MM-yyyy' }}" disabled>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">تاريخ السحب</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </tab>
                <tab heading="التصنيف">
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="valueCaseCustomers">
                          <option *ngFor="let item of caseCustomer" [value]="item.code">
                            {{ item.name }}</option>
                        </select>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">العميل</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="valueCaseTwasol">
                          <option *ngFor="let item of caseTwasol" [value]="item.code">
                            {{ item.name }}</option>
                        </select>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">التواصل</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="valueCaseDkhlia">
                          <option *ngFor="let item of caseDkhlia" [value]="item.code">
                            {{ item.name }}</option>
                        </select>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">الداخلية</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="input-group">
                        <input type="text" value="{{ main.autO_NUM > 0 ? 'قضائى' : 'ودى' }}" class="custom-select"
                          id="inputGroupSelect01">
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">الملف</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="valueCaseTawon">
                          <option *ngFor="let item of caseTawon" [value]="item.code">
                            {{ item.name }}</option>
                        </select>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">التعاون</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="valueCaseCivilId">
                          <option *ngFor="let item of caseCivilId" [value]="item.code">
                            {{ item.name }}</option>
                        </select>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">المدنية</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="valueCaseMotabaa">
                          <option *ngFor="let item of caseMotabaa" [value]="item.code">
                            {{ item.name }}</option>
                        </select>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">المتابعة</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <input type="submit" value="Save" class="btn btn-primary btn-block"
                        (click)="saveClassifications()">
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-xl-6">
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="input-group">
                            <input type="text" class="custom-select" id="inputGroupSelect01"
                              value="{{ main.discount > 0 ? 'يوجد خصم' : 'لا يوجد خصم' }}">
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect01">{{ main.discount }}%</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="col-xl-12">
                          <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]='valuecustomerApproved'>
                              <option value='لم يتم القبول'>لم يتم القبول</option>
                              <option value="تم القبول">تم القبول</option>
                            </select>
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect01">القبول</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="col-xl-12">
                          <input type="submit" value="Save" class="btn btn-primary btn-block">
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="valuesalaryWork">
                              <option *ngFor="let value of salaryWork" [value]="value.name">{{ value.name }}</option>
                            </select>
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect01">الدوام</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="col-xl-12">
                          <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="main.salaryNote">
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect01">ملاحظات</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="col-xl-12">
                          <div class="input-group">
                            <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                              value="{{ main.salaryDate | date:'dd-MM-yyyy'  }}">
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect01">تاريخ الراتب</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-1">
                        <div class="col-xl-12">
                          <input type="submit" value="Save" class="btn btn-primary btn-block">
                        </div>
                      </div>
                    </div>
                  </div>
                </tab>
                <tab heading="اجمالي الملفات"></tab>
                <tab heading="رابط الشركة">
                  <div class="row mt-5">
                    <div class="col-xl-12">
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="linkCompanyZain" #inputValue>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect01">رابط الشركة للدفع</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-xl-4">
                      <input type="submit" value="رابط المكتب" class="btn btn-primary btn-block">
                    </div>
                    <div class="col-xl-4">
                      <input type="submit" value="رابط الشركة" class="btn btn-primary btn-block">
                    </div>
                    <div class="col-xl-4">
                      <input type="submit" value="Copy" class="btn btn-primary btn-block"
                        (click)="copyInputMessage(inputValue)">
                    </div>
                  </div>
                </tab>
                <tab heading="الرسوم">
                  <div class="row">
                    <table class="table tab-statment table-striped table-bordered table-sm">
                      <thead>
                        <tr>
                          <th scope="col">المصروف</th>
                          <th scope="col">المبلغ</th>
                          <th scope="col">رقم الكشف</th>
                          <th scope="col">رقم العهدة</th>
                          <th scope="col">Open</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of resom">
                          <td>{{ item.exp}}</td>
                          <td>{{ item.amount }}</td>
                          <td>{{ item.numK }}</td>
                          <td>{{ item.numOhda }}</td>
                          <td (click)="goToPdf(item.id)">Open</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <pagination class="pagination-statment" [boundaryLinks]="true"
                    [totalItems]="paginationResom.totalItems" [itemsPerPage]="paginationResom.itemsPerPage"
                    (pageChanged)="pageChangedResom($event)" [(ngModel)]="paginationResom.currentPage"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                    [maxSize]="maxSize">
                  </pagination>
                </tab>
                <tab heading="تفاصيل المطالبة">
                  <div class="row">
                    <table class="table table-striped table-bordered table-sm">
                      <thead>
                        <tr>
                          <th scope="col">المبلغ</th>
                          <th scope="col">التاريخ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Mark</td>
                          <td>Otto</td>
                        </tr>
                        <tr>
                          <td>Jacob</td>
                          <td>Thornton</td>
                        </tr>
                        <tr>
                          <td>Larry</td>
                          <td>the Bird</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
        <!-- End second column -->
        <!-- Start third column -->
        <div class="col-xl-3">
          <div class="row">
            <div class="col-xl-2">
              <label class="mt-2">المطالبة</label>
            </div>
            <div class="col-xl-10">
              <input type="text" class="form-control" [(ngModel)]="main.totalDue">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-2">
              <label class="mt-2">الرسوم</label>
            </div>
            <div class="col-xl-4">
              <input type="text" class="form-control" value="0" [(ngModel)]="main.totalResom">
            </div>
            <div class="col-xl-2">
              <label class="mt-2">الاتعاب</label>
            </div>
            <div class="col-xl-4">
              <input type="text" class="form-control" value="0">
            </div>
          </div>
          <div class="row">
            <table class="table table-striped table-bordered table-sm">
              <thead>
                <tr>
                  <th scope="col">المبلغ</th>
                  <th scope="col">التاريخ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let paymnent of pay let i = index;" [ngClass]="paymnent.emp == 3 ? 'rong-number' : ''">
                  <td>{{ paymnent.company }}</td>
                  <td>{{ paymnent.datePay | date:'dd-MM-yyyy' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row pagination">
            <div class="col-xs-12 col-12">
              <pagination class="" [boundaryLinks]="true" [totalItems]="paginationPay.totalItems"
                [itemsPerPage]="paginationPay.itemsPerPage" (pageChanged)="pageChanged($event)"
                [(ngModel)]="paginationPay.currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                lastText="&raquo;" [maxSize]="maxSize">
              </pagination>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-2">
              <label class="mt-2">المدفوع</label>
            </div>
            <div class="col-xl-4">
              <input type="text" class="form-control" [(ngModel)]="main.totalPay">
            </div>
            <div class="col-xl-2">
              <label class="mt-2">التخفيض</label>
            </div>
            <div class="col-xl-4">
              <input type="text" class="form-control" [(ngModel)]="main.waiver">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-2">
              <label class="mt-2">المتبقي</label>
            </div>
            <div class="col-xl-10">
              <input type="text" class="form-control" [(ngModel)]="main.remain">
            </div>
          </div>
        </div>
        <!-- End third column -->
      </div>
      <!-- End main row -->
      <!-- Start scound row -->
      <div class="row mt-1">
        <!-- Start number column -->
        <div class="col-xl-4">
          <div class="row">
            <table class="table tab-statment table-striped table-bordered table-sm">
              <thead>
                <tr>
                  <th>الرقم</th>
                  <th>المستخدم</th>
                  <th>الحالة</th>
                  <th>Edit</th>
                  <th (click)="openModal(template)">Note <i class="fa fa-plus"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr style='cursor:pointer' *ngFor="let item of numbers; let i = index"
                  [ngClass]="[item.is_voke == 2 ? 'right-number' : '', item.is_voke  == 1? 'rong-number' : '', item.is_voke  == 0? '' : '', item.is_voke  == 3? 'rong-number' : '']"
                  (click)="selectedRow = i; numberSelected(item.phone, item.owner)">
                  <td>{{ item.phone }}</td>
                  <td>{{ item.owner }}</td>
                  <td>
                    {{ [item.is_voke == 1? 'رقم خطا':'', item.is_voke == 0? 'غير مصنف':'', item.is_voke == 2? 'رقم
                    صحيح':'', item.is_voke == 3? 'ممنوع الاتصال':''] }}
                  </td>
                  <td><i (click)="openModal(template);getNumberToSaveOrUpdate(item.id)" class="fa fa-edit fa-lg"></i>
                  </td>
                  <td>
                    <div class="btn-group" dropdown>
                      <button id="button-split" type="button" dropdownToggle
                        class="btn btn-danger dropdown-toggle dropdown-toggle-split btn-sm"
                        aria-controls="dropdown-split">
                        <span class="caret"></span>
                      </button>
                      <ul id="dropdown-split" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-split">
                        <li role="menuitem" (click)="updateNumber(item.id, 2)"><a class="dropdown-item">رقم صحيح</a>
                        </li>
                        <li role="menuitem" (click)="updateNumber(item.id, 1)"><a class="dropdown-item">رقم خطا</a></li>
                        <li role="menuitem" (click)="updateNumber(item.id, 3)"><a class="dropdown-item">ممنوع
                            الاتصال</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- modal start -->
            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">
                  Save Or Edit New Number.
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"><i
                    class="fa fa-close fa-sm"></i>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xl-12">
                      <table class="table table-striped table-bordered table-sm">
                        <thead>
                          <tr>
                            <td>الهاتف</td>
                            <td>المدني للمستخدم</td>
                            <td>المستخدم</td>
                            <td>المصدر</td>
                            <td>نوع الخط</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ numbersForUpdateOrSave.phone }}</td>
                            <td>{{ numbersForUpdateOrSave.civilIDUse }}</td>
                            <td>{{ numbersForUpdateOrSave.owner }}</td>
                            <td>{{ numbersForUpdateOrSave.resourse }}</td>
                            <td>{{ numbersForUpdateOrSave.note }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-3">
                      <label>الرقم</label>
                    </div>
                    <div class="col-xl-9">
                      <input type="number" class="form-control" [(ngModel)]="numbersForUpdateOrSave.phone">
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-xl-3">
                      <label>المدني للمستخدم</label>
                    </div>
                    <div class="col-xl-9">
                      <input type="number" class="form-control" [(ngModel)]="numbersForUpdateOrSave.civilIDUse">
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-xl-3">
                      <label>المستخدم</label>
                    </div>
                    <div class="col-xl-9">
                      <select class="custom-select" [(ngModel)]="customerUserNumberValue">
                        <option *ngFor="let item of customerUserNumber" [value]="item.value">
                          {{ item.value }}</option>
                      </select>
                    </div>
                  </div>
                  <div class=" row mt-1">
                    <div class="col-xl-3">
                      <label>المصدر</label>
                    </div>
                    <div class="col-xl-9">
                      <select class="custom-select" [(ngModel)]="numberResourcesValue">
                        <option *ngFor="let item of numberResources" [value]="item.value">
                          {{ item.value }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-xl-3">
                      <label>نوع الخط</label>
                    </div>
                    <div class="col-xl-9">
                      <select class="custom-select" [(ngModel)]="typeNumberValue">
                        <option [value]=" item.value" *ngFor="let item of typeNumber">
                          {{ item.value }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2 mr-2 ml-2">
                <div class="col-xl-6">
                  <button type="button" class="btn btn-secondary btn-block"
                    (click)="EditNumber();modalRef.hide()">Edit</button>
                </div>
                <div class="col-xl-6">
                  <button type="button" class="btn btn-primary btn-block"
                    (click)="saveNewNumber();modalRef.hide()">Save</button>
                </div>
              </div>
            </ng-template>
            <!-- modeal end -->
          </div>
          <div class="row ">
            <pagination class="pagination-statment" [boundaryLinks]="true" [totalItems]="paginationNumber.totalItems"
              [itemsPerPage]="paginationNumber.itemsPerPage" (pageChanged)="pageChangedNumber($event)"
              [(ngModel)]="paginationNumber.currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
              lastText="&raquo;" [maxSize]="maxSize">
            </pagination>
          </div>
        </div>
        <!-- End number column -->
        <!-- Start way column -->
        <div class="col-xl-4">
          <div class="row">
            <div class="col-xl-12">
              <div class="input-group">
                <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="value1">
                  <option *ngFor="let ways of way" [ngValue]="ways" (click)="wayChanged()">
                    {{ways.name}}</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect01">وسيلة التفاوض</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="input-group">
                <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="value2">
                  <option *ngFor="let status of result" [ngValue]="status" (click)="resultChanged(installment)">
                    {{status.name}}</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect01">نتيجة التفاوض</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <input type="text" class="form-control" [(ngModel)]="statment" disabled>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <textarea class="form-control" [(ngModel)]="noteStatment"></textarea>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-xl-4 col-padding">
              <input type="text" placeholder="Date Event" class="form-control" bsDatepicker
                [(ngModel)]="newStatment.DATE_REVIEW">
            </div>
            <div class="col-xl-4 col-padding">
              <input type="text" class="form-control" [(ngModel)]="newStatment.twasolNumber">
            </div>
            <div class="col-xl-4 col-padding">
              <input type="submit" value="Save" class="btn btn-info btn-block"
                (click)="openModalNextProces(modalNextProcess)">
            </div>
          </div>
        </div>
        <!-- End way column -->
      </div>
      <!-- End scound row -->
      <!-- star-modal-next-process -->
      <ng-template #modalNextProcess>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Select Next Process</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-bordered table-sm">
            <tbody>
              <tr *ngFor="let item of nextProcess" (dblclick)="saveStatement(item.code);modalRef.hide()">
                <td>{{ item.name }}</td>
                <td>{{ item.code }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
      <!-- end-modal-next-process -->
      <!-- Start model to recourd installment -->
      <ng-template #installment>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Enter Amount</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <tbody>
            <div class="container-fluid" *ngIf="installmentShow">
              <div class="row">
                <div class="col-sm-2">
                  <h4>المبلغ</h4>
                </div>
                <div class="col-sm-10">
                  <input type="number" class="form-control " [(ngModel)]="installmentAmount" value="0">
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-sm-2">
                  <h3>التاريخ</h3>
                </div>
                <div class="col-sm-10">
                  <input type="text" bsDatepicker class="form-control mb-2" [(ngModel)]="installmentDate">
                </div>
              </div>
            </div>
            <div class="container-fluid" *ngIf="!installmentShow">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-check">
                    <input class="form-control" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                      checked>
                    <label class="form-check-label" for="exampleRadios1">سداد كلى</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-check">
                    <input class="form-control" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">سداد جزئى</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <h4>المبلغ</h4>
                </div>
                <div class="col-sm-10">
                  <input type="number" class="form-control mb-2" [(ngModel)]="installmentAmount" value="0">
                </div>
              </div>
            </div>
          </tbody>
          <div class="modal-footer modal-installment">
            <div class="row">
              <div class="col-sm-6">
                <input type="button" value="Cancel" class="btn btn-block btn-danger" (click)="modalRef.hide()">
              </div>
              <div class="col-sm-6">
                <input type="submit" value="Save" (click)="modalRef.hide();collectStatment()"
                  class="btn btn-block btn-success">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- End model to recourd installment -->
      <!-- Start Third Row -->
      <div class="row">
        <div class="col-sm-12">
          <tabset>
            <tab heading="الافادات">
              <div class="scroll-view-table">
                <table class="table tab-statment table-striped table-bordered table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">التاريخ</th>
                      <th scope="col">الافادة</th>
                      <th scope="col">المراجعة</th>
                      <th scope="col">الاجراء القادم</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of allstatement; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.dataEvent | date:'dd-MM-yyyy || hh:mm:ss a' }}</td>
                      <td>
                        <div class="wrap-word">{{ item.eventt }}</div>
                      </td>
                      <td>{{ item.dataReveiw | date:'dd-MM-yyyy' }}</td>
                      <td>{{ item.nextProces }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <pagination class="pagination-statment" [boundaryLinks]="true"
                    [totalItems]="paginationStatment.totalItems" [itemsPerPage]="paginationStatment.itemsPerPage"
                    (pageChanged)="pageChangedStatment($event)" [(ngModel)]="paginationStatment.currentPage"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                    [maxSize]="maxSize">
                  </pagination>
                </div>
              </div>
            </tab>
            <tab heading="السجل">
              <table class="table tab-statment table-striped table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">التاريخ</th>
                    <th scope="col">الافادة</th>
                    <th scope="col">الموظف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of oldStatment; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.date_Event | date:'dd-MM-yyyy' }}</td>
                    <td>{{ item.common }}</td>
                    <td>{{ item.review_Date | date:'dd-MM-yyyy' }}</td>
                  </tr>
                </tbody>
              </table>
              <pagination class="pagination-statment" [boundaryLinks]="true"
                [totalItems]="paginationsOldStatment.totalItems" [itemsPerPage]="paginationsOldStatment.itemsPerPage"
                (pageChanged)="pageChangedOldStatment($event)" [(ngModel)]="paginationsOldStatment.currentPage"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="maxSize">
              </pagination>
            </tab>
            <tab heading="ملفات اخري">
              <table class="table tab-statment table-striped table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">الكود</th>
                    <th scope="col">المديونية</th>
                    <th scope="col">المدني</th>
                    <th scope="col">حالة الملف</th>
                    <th scope="col">الموكل</th>
                    <th scope="col">العقد</th>
                    <th scope="col">المطالبة</th>
                    <th scope="col">المدفوع</th>
                    <th scope="col">المتبقي</th>
                    <th scope="col">الموظف</th>
                    <th scope="col">الباتش</th>
                    <th scope="col">الحالة</th>
                    <th scope="col">كود الموكل</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of anotherFile" (dblclick)="searchBycode(item.code)">
                    <td>{{ item.code }}</td>
                    <td>{{ item.resonDue }}</td>
                    <td>{{ item.civilid }}</td>
                    <td>{{ item.cases }}</td>
                    <td>{{ item.clint }}</td>
                    <td>{{ item.contractNum }}</td>
                    <td>{{ item.totalDue }}</td>
                    <td>{{ item.totalPay }}</td>
                    <td>{{ item.remain }}</td>
                    <td>{{ item.emp | titlecase}}</td>
                    <td>{{ item.batchNum }}</td>
                    <td>{{ item.caseNumber }}</td>
                    <td>{{ item.clintNumber }}</td>
                  </tr>
                </tbody>
              </table>
              <pagination class="pagination-statment" [boundaryLinks]="true"
                [totalItems]="paginationAnotherFile.totalItems" [itemsPerPage]="paginationAnotherFile.itemsPerPage"
                (pageChanged)="pageChangedAnotherFile($event)" [(ngModel)]="paginationAnotherFile.currentPage"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="maxSize">
              </pagination>
            </tab>
            <tab heading="نتائج البحث">
              <table class="table tab-statment table-striped table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">الكود</th>
                    <th scope="col">الاسم</th>
                    <th scope="col">سبب المديونية</th>
                    <th scope="col">الحالة</th>
                    <th scope="col">الموكل</th>
                    <th scope="col">رقم العقد</th>
                    <th scope="col">قيمة المطالبة</th>
                    <th scope="col">اجمالي المدفوع</th>
                    <th scope="col">المتبقي</th>
                    <th scope="col">الموظف</th>
                    <th scope="col">الباتش</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of searchByCivil; let i = index;" (dblclick)="searchBycode(item.code)">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.resonDue }}</td>
                    <td>{{ item.cases }}</td>
                    <td>{{ item.clint }}</td>
                    <td>{{ item.contractNum }}</td>
                    <td>{{ item.totalDue }}</td>
                    <td>{{ item.totalPay }}</td>
                    <td>{{ item.remain }}</td>
                    <td>{{ item.emp }}</td>
                    <td>{{ item.batchNum }}</td>
                  </tr>
                </tbody>
              </table>
              <pagination class="pagination-statment" [boundaryLinks]="true"
                [totalItems]="paginationsearchByCivil.totalItems" [itemsPerPage]="paginationsearchByCivil.itemsPerPage"
                (pageChanged)="pageChangedSearchByCivilId($event)" [(ngModel)]="paginationsearchByCivil.currentPage"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="maxSize">
              </pagination>
            </tab>
            <tab heading="الارقام الالية">
              <table class="table tab-statment table-striped table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">الرقم الالي الرئيسي</th>
                    <th scope="col">الرقم الالي المرتبط</th>
                    <th scope="col">نوع الرقم الالي</th>
                    <th scope="col">حالة الرقم الالي</th>
                    <th scope="col">الادعاء</th>
                    <th scope="col">ملاحظات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of autoNumberToView; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.mainAutoNum }}</td>
                    <td>{{ item.subAutoNumber }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.caseAuto }}</td>
                    <td>{{ item.climent }}</td>
                    <td>{{ item.note }}</td>
                  </tr>
                </tbody>
              </table>
              <pagination class="pagination-statment" [boundaryLinks]="true"
                [totalItems]="paginationAutoNumber.totalItems" [itemsPerPage]="paginationAutoNumber.itemsPerPage"
                (pageChanged)="pageChangedAutoNumber($event)" [(ngModel)]="paginationAutoNumber.currentPage"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="maxSize">
              </pagination>
            </tab>
            <tab heading="السكرتارية">
              <table class="table tab-statment table-striped table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">التاريخ</th>
                    <th scope="col">الافادة</th>
                    <th scope="col">المراجعة</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of statmentSec; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.date | date:'dd-MM-yyyy || hh:mm:ss a' }}</td>
                    <td>{{ item.stat }}</td>
                    <td>{{ item.emp }}</td>
                  </tr>
                </tbody>
              </table>
              <pagination class="pagination-statment" [boundaryLinks]="true"
                [totalItems]="paginationStatmentSec.totalItems" [itemsPerPage]="paginationStatmentSec.itemsPerPage"
                (pageChanged)="paginationChangedStatmentSec($event)" [(ngModel)]="paginationStatmentSec.currentPage"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="maxSize">
              </pagination>
            </tab>
          </tabset>
        </div>
      </div>
      <!-- End Third Row -->
    </tab>
    <tab heading="العملاء">
    </tab>
  </tabset>
</div>