form {
  width: 300px;
  margin: 200px auto;
}
form input {
  margin-bottom: 20px;
}

form p {
  font-size: 26px;
  font-weight: bold;
}
form span {
  color: #ccc;
  font-size: 26px;
  font-weight: bold;
}
