<form class="login" (ngSubmit)="login()" #FormLogin="ngForm">
  <p class="text-center text-primary">House Of law <span>|</span> login</p>
  <hr />
  <input class="form-control input-lg" required="required" type="number" [(ngModel)]="model.Code" name="user"
    placeholder="User Name" autocomplete="off" />
  <input class="form-control input-lg" required="required" type="password" [(ngModel)]="model.Password" name="pass"
    placeholder="Password" autocomplete="new-password" />
  <input class="btn input-lg btn-primary btn-block" [disabled]="!FormLogin.valid" type="submit" value="login" />
</form>